<div class="text-center">
	<h1>Donación de recurso</h1><br>
	<%=@donacion.description%>
	<br><br>
	<%= image_tag @donacion.avatar.url, class: "img-responsive center-block", width: "30%", height: "30%"  %>
	<br>
</div>
